.app{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}
.container{
  width: 500px;
  border-radius: 8px;
  padding: 3rem;
  background-color: white;
}
.heading-text{
  font-size: 18px;
  font-weight: 400;
}
.headingtwo{
  padding-top: 5px;
}
.totalamount{
  width: 410px;
  background-color: aqua;
  height: 140px;
  margin-top: 20px;

}
.cardtext{
  padding-top: 20px;
}
.total-amount{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 500;
}
.total_amount_para{
  text-align: center;
  font-size: 12px;
  padding-top: 0;
  font-size: 16px;
}
.inputs{
  margin-top: 40px;
}
.input_fields{
  margin-top: 30px;
  width: 410px;
}
.outlined-basic{
  width: 410px;
  background-color: rgb(255, 255, 255);
}
.buttons{
  margin: 60px;
  display: flex;
  justify-content: center;
}
.btn{
  width: 200px;
  height: 100px;

}